.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/images/background/change-password-background.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
