<div class="change-password-modal" [formGroup]="form">
  <div>
    <h3>Change Password</h3>
    <mat-form-field class="example-full-width">
      <mat-label>New password</mat-label>
      <input type="email" matInput formControlName="newPassword" placeholder="New password"
             [type]="isPasswordVisible ? 'text' : 'password'">
      <img (click)="togglePasswordVisibility()" src="/assets/images/eye.png" alt="eye">
      <mat-error *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Confirm password</mat-label>
      <input type="email" matInput formControlName="confirmPassword" placeholder="Confirm password"
             [type]="isPasswordVisible ? 'text' : 'password'">
      <img (click)="togglePasswordVisibility()" src="/assets/images/eye.png" alt="eye">
      <mat-error *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>
    <p [class.error]="hasMinLengthError() && form.get('newPassword')?.touched ">At least 6 character long</p>
    <p [class.error]="hasNoUppercaseError() && form.get('newPassword')?.touched">Contains a uppercase letters</p>
    <p [class.error]="hasNoDigitError() && form.get('newPassword')?.touched">Contains a number</p>
    <div class="button-area">
      <button (click)="onSubmit()" [disabled]="!canSubmit()">
        Save
      </button>
    </div>
  </div>
</div>
